body{
    background-image: url(./services.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150vh;
}
.container{
    color: azure; 
    background-color: rgb(57, 60, 58);
    border-radius: 5%;
    height: 650px;
    width: 600px;

}
